<% @intro_colour = "green" %>
<% content_for :intro do %>
  <h2>My Account</h2>
  <p class="lead">Manage your account settings and preferences</p>
<% end %>

<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>
<% end %>

<nav class="tabbed">
  <ul class="tabs" style="display:none">
    <li class="tab"><a href="#zones"  id="default_tab">My Zones</a></li>
    <li class="tab"><a href="#settings">Settings</a></li>
    <li class="tab"><a href="#reports">My Reports</a></li>
  </ul>
</nav>

<section id="settings" class="tab-content">
  <div class="userview">
    <div class="sixteen">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email %></div>

        <div><%= f.label :password, "password (leave blank if you don't want to change it"%>
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

        <h3>Email Preferences</h3>
        <div class="email-prefs">
          <div>
            <%= f.label :receive_zone_emails, "Receive email alerts for reports in my chosen zones" %>
            <%= f.check_box :receive_zone_emails %>
          </div>
          <br/>

          <div>
            <%= f.label :receive_report_emails, "Receive email alerts for updates to reports I've created" %>
            <%= f.check_box :receive_report_emails %>
          </div>
          <br/>

          <div>
            <%= f.label :receive_email_comments, "Receive email alerts for comments on reports I've created" %>
            <%= f.check_box :receive_email_comments %>
          </div>
        </div>
        <br/>
        <div><%= f.submit "Update Settings" %></div>
      <% end %>

      <hr/>

      <h3>Cancel account</h3>
      <p>Don't want your account any more? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

      <h3>Sign out</h3>
      <p>Click <%= link_to "here", destroy_user_session_path, :method => :delete %> to sign out.</p>

    </div>
  </div>
</section>

<section id="zones" class="tab-content">
  <div class="zonesview">
    <div class="sixteen">
      <%= render 'zones/form' %>
    </div>
  </div>
</section>

<% # this is all reports that this user has opened, which end in the future (or have no end date)  %>
<%= render 'reports/feed_list', :reports => current_user.reports, :title => "My Reports" %>

<script type="text/javascript">
  //select a tab if there's error on it (e.g. for password mismatch).
  $( function() {
    var errorDiv = $("section.tab-content div#error_explanation");
    if (errorDiv.length > 0) {
      var tabWithError = $(errorDiv).closest("section.tab-content");
      var selector = 'ul.tabs li a[href="#' + tabWithError.attr("id").toString() + '"]';
      $(selector).click();
    }
  });
</script>