<% @intro_colour = "green" %>
<% content_for :intro do %>
  <h2>Forgot Your Password?</h2>
  <p class="lead">Don't worry - just enter your email address.</p>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
