<div id="header">
  <%= link_to(root_path) do %>
    <%= image_tag "smart-journey.png", alt: "Smart Journey", name: "logo", width: 300, height: 90, id: "logo" %>
  <% end %>
  <div id="btnnav">
    <ul class="btnnav-list">
      <% if current_user %>
        <li>
          <!-- my acc -->
          <%= link_to edit_user_registration_path do %>
            <span class="lnktxt"><%= current_user.screen_name %></span>
            <%= image_tag "user-icon.png", width:28, height:28, alt:"My Account", title:"My Account" %>
          <% end %>
        </li>
      <% else %>
        <li>
          <!-- sign in  -->
          <%= link_to new_user_session_path do %>
            <%= image_tag "user-icon.png", width:28, height:28, alt:"Sign In", title:"Sign In" %><span class="lnktxt">Sign In</span>
          <% end %>
        </li>
      <% end %>

      <li>
        <!-- about  -->
        <%= link_to "#" do %>
          <%= image_tag "about-icon.png", width:28, height:28, alt:"About", title:"About" %><span class="lnktxt">About</span>
        <% end %>
      </li>
    </ul>
  </div>
</div><!-- end header -->