<% page_title "Realtime Linked Open Data for SmartJourney.co.uk" %>

<article class="data">
  <section id="top">
    <div class="row container">
      <div class="sixteen columns">
        <%= image_tag "smart-journey-logo-white-big.png", alt:"Smart Journey", class:"img-logo" %>
      </div>
    </div>

    <div class="container">
      <div class="sixteen columns homeheader">
        <h1>Realtime access to weather and travel data</h1>
        <p>
          This site provides realtime access to weather and travel reports across Aberdeen City and Aberdeenshire, submitted to the <a href="http://smartjourney.co.uk">SmartJourney website</a>.
          All of the data is available as fully browsable and queryable <strong>Linked Data</strong> (or via a <strong>RESTful JSON API</strong>), and is free to re-use under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>.
        </p>
        <hr/>
      </div>
    </div>
  </section>
  <section id="overview">
    <div class="row container">
      <div class="ten columns docs">
        <h3>Getting Started</h3>
        <p>
          Start by browsing the <%= link_to pluralize(Dataset.all.length, 'dataset'), datasets_path %> in this site. Each dataset has a page with details of its contents and how to access it.
        </p>
        <%= render 'publish_my_data/datasets/index_table', table_title: index_table_title(@datasets.total_count, @tag) %>
      </div>

      <div class="five columns offset-by-one docs">
        <h3>Accessing the data</h3>
        <p>
          The data is provided as <strong>Linked Data</strong>, via this browsable website as well as in multiple machine-readable formats including JSON, RDF, Turtle and N-triples.
          The available formats are indicated at the foot of each page.
        </p><p>
          We provide a <a href="/sparql">SPARQL endpoint</a>, as well as an in-page SPARQL console, reachable via the tab at the top of each page, which allows you to experiment with queries as you browse.
        </p><p>
          We also provide a <strong>simple REST JSON API</strong> for reading and writing incident reports.
        </p><p>
          For full details of how to programatically access the data in this site, please read our
          <strong><%= link_to "Developer Documentation", publish_my_data.docs_path %></strong>.
        </p>
        <br/>
        <h3>More information</h3>
        <p>
          For more information about SmartJourney, please <a href="http://smartjourney.co.uk/about">read this</a>, or <a href="mailto:info@smartjourney.co.uk">email us</a>.
        </p>
      </div>
    </div>
  </section>

  <%= bottom_formats_section "page" %>
</article>