<h3>Recent reports</h3>
<% if @recent_reports.any? %>
  <ul>
    <% @recent_reports.last(20).each do |report| %>
      <li>
        <%= report.report_type.label %>:
        <%= report.description %><br/>
        <% if report.creator %>
          <%= report.creator.screen_name %>,
        <% end %>
        <%= l(Time.parse(report.created_at), :format => :long) %>
        <% if current_user.screen_name == report.creator.screen_name %>
          <%= link_to "resolve", "#" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  No recent reports.
<% end %>