<h3>Recent reports</h3>
<% if @reports.any? %>
  <ul>
    <% @reports.last(20).each do |report| %>
      <li>
        <%= report.description %><br/>

        tags: <% report.tags.each do |t| %>
          <%= link_to t, reports_path(:tags => t) %>
        <% end %>
        <br/>

        <% if report.incident_begins_in_future? %>
          begins: <%= Time.parse(report.incident_begins_at).to_s(:long) %><br/>
        <% end %>
        <% if report.incident_ends_in_future? %>
          ends: <%= Time.parse(report.incident_ends_at).to_s(:long) %><br/>
        <% end %>

        <% if report.creator %>
          Reporter: <%= report.creator.screen_name %><%= ' (admin)' if report.creator.role? 'super_user' %> <br/>
        <% end %>
        Reported: <%= Time.parse(report.created_at).to_s(:long) %><br/>
        <%= link_to "details", report_path(report.guid) %>
      </li>
    <% end %>
  </ul>
<% else %>
  No recent reports.
<% end %>