<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>

  <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster", :media => "screen" %>
  <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster.Default", :media => "screen" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster.Default.ie", :media => "screen" %>
  <![endif]-->
<% end %>

<section id="map" class="tab-content">
  <div class="mapview">
    <div class="sixteen">
      <div id="feed-map"></div>
      <script type="text/javascript">
        // runs on doc rdy.
        $(function() {
          SmartJourney.feedMap = new SmartJourney.FeedMap( <%= raw(@reports.to_json) %> );
        });
      </script>
    </div>
  </div>
</section>