<h3>Recent reports</h3>
<% if @recent_reports.any? %>
  <ul>
    <% @recent_reports.last(20).each do |report| %>
      <li>
        <%= report.description %><br/>
        <% if report.creator %>
          <%= report.creator.screen_name %>,
        <% end %>
        <%= l(Time.parse(report.created_at), :format => :long) %><br/>
        tags: <%= report.tags.join(", ") %><br/>
        <%= link_to "details", "#" %>
      </li>
    <% end %>
  </ul>
<% else %>
  No recent reports.
<% end %>