<section id="reports">
  <div class="reportview">
    <div class="sixteen">
      <h3>Reports</h3>
      <% if reports.any? %>
        <ul>
          <% reports.each do |report| %>
            <li>
              <%= report.description %><br/>

              <% if report.tags.any? %>
                Tags: <% report.tags.each do |t| %>
                  <%= tag_link(t) %>
                <% end %>
                <br/>
              <% end %>

              Status: <%= report.status %><br/>

              <% if report.incident_begins_in_future? %>
                Begins: <%= Time.parse(report.incident_begins_at).to_s(:long) %><br/>
              <% end %>
              <% if report.incident_ends_in_future? %>
                Ends: <%= Time.parse(report.incident_ends_at).to_s(:long) %><br/>
              <% end %>

              <% if report.creator %>
                Reporter: <%= report.creator.screen_name %><%= ' (admin)' if report.creator.role? 'super_user' %> <br/>
              <% end %>
              Reported: <%= Time.parse(report.created_at).to_s(:long) %><br/>
              <%= link_to "details", report_path(report.guid) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No reports to display.</p>
      <% end %>
    </div>
  </div>
</section>