<div class="reportview">
  <div class="sixteen">
    <h3><%= local_assigns[:title] || "#{@future ? 'Upcoming' : 'Recently reported open'} Issues" %></h3>
    <% if reports.any? %>
      <ul class="report-list">
        <% reports.each do |report| %>

          <li class="report-item clearfix">
            <div class="report-desc"><%= auto_link report.description %></div>
            <% if report.tags.any? %>
              <div class="report-tags">
                <%= image_tag "icon-tag.png" %> <% report.tags.each do |t| %>
                  <%= tag_link(t) %>
                <% end %>
              </div>
            <% end %>

            <div class="report-status">
               <%= report_status_icon(report.status) %> <%= report.status %>
               <%= "start " + Time.parse(report.incident_begins_at).to_s(:long) if report.incident_begins_in_future? %><br/>
            </div>

            <% if report.incident_ends_in_future? %>
              <div class="report-status">
                <%= report_status_icon('Planned') %> Planned end <%= Time.parse(report.incident_ends_at).to_s(:long) %><br/>
              </div>
            <% end %>

            <div class="zone">
              <%= report.zone.label %>
            </div>

            <div class='reporter'>
              Reported: <%= Time.parse(report.created_at).to_s(:long) %>
              <% if report.creator %>
                by <%= report.creator.screen_name %><%= ' (admin)' if report.creator.role? 'super_user' %> <br/>
              <% end %>
            </div>

            <div class='view-dtls'>
              <%= link_to "view full details", report_path(report.guid), :class => "report-details-btn" %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reports to display.</p>
    <% end %>
  </div>
</div>