<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>

  <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster", :media => "screen" %>
  <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster.Default", :media => "screen" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "Leaflet.MarkerCluster/MarkerCluster.Default.ie", :media => "screen" %>
  <![endif]-->
<% end %>

<h3>Map</h3>

<div id="feed-map"></div>

<script type="text/javascript">
  // runs on doc rdy.
  $(function() {
    var map = L.map('feed-map').setView([57.15, -2.1], 10);

    var tileUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    attrib = 'Map tiles: <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.';

    var tileLayer = new L.TileLayer(tileUrl, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
    tileLayer.addTo(map);

    var reports = <%= raw(@recent_reports.to_json) %>;
    var markers = new L.MarkerClusterGroup();

    for (var i = 0; i < reports.length; i++) {

      var report = reports[i];
      var marker = new L.Marker(new L.LatLng(report.latitude, report.longitude));

      var markerContent = "<strong>" + report.reportType + "</strong><br/>" +
        report.description  + "<br/>";

      if (report.reporter) {
        markerContent += report.reporter  + ", ";
      }

      markerContent += report.datetime + "<br/>";

      marker.bindPopup(
        "<strong>" + report.reportType + "</strong><br/>" +
        report.description  + "<br/>" +
        report.reporter  + ", " +
        report.datetime + "<br/>"
      );

      markers.addLayer(marker);
    }

    map.addLayer(markers);

  });
</script>