<div class="sixteen" id="filters">
  <%= form_tag reports_path, :method => 'get' do %>
    <h3>Filters</h3>
    <div class="planned-filter">
      <%= radio_button_tag 'future', 'false', !@future, :style => 'margin-top:-2px' %> Current
      &nbsp;
      <%= radio_button_tag 'future', 'true', @future, :style => 'margin-top:-2px'  %> Planned
    </div>

    <div class="zones-filter">
      <% if current_user %>
        <%= check_box_tag 'selected_zones_only', 'true', @selected_zones_only, :style => 'margin-top:-2px'  %> Show only reports in your <%= link_to "chosen zones", edit_user_registration_path %>.
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> to filter reports by your chosen geographic zones. <br/>
      <% end %>
    </div>

    <div class="tags-filter">
      <%= label_tag do %>
       <%= image_tag "icon-tag.png" %> only show reports with these tags:
      <% end %>
      <%= text_field_tag 'tags', @tags_string %>
      <%= render 'popular_tags' %>
      <%= render 'tagsjs', :tag_field_id => "tags" %>
    </div>

    <%= submit_tag 'Apply filters' %>
  <% end %>

</div>