<div class="sixteen" id="filters">
  <%= form_tag reports_path, :method => 'get' do %>
    <h3 style="float:left">Filters</h3>
    <%= image_tag 'loading-spinner.gif', :class => 'loading-spinner', :style => 'display:none; float:left; margin: 10px 10px 0 10px' %>
    <br style="clear:both" />

    <div class="planned-filter">
      <%= radio_button_tag 'future', 'false', !@future, :style => 'margin-top:-2px' %> Open issues
      &nbsp;
      <%= radio_button_tag 'future', 'true', @future, :style => 'margin-top:-2px'  %> Planned (future) issues
    </div>

    <div class="zones-filter">
      <% if current_user %>
        <%= check_box_tag 'selected_zones_only', 'true', @selected_zones_only, :style => 'margin-top:-2px'  %> Show only reports in your <%= link_to "chosen zones", edit_user_registration_path %>.
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> to filter reports by your chosen geographic zones. <br/>
      <% end %>
    </div>

    <div class="tags-filter">
      <%= label_tag do %>
       <%= image_tag "icon-tag.png" %> show reports with any of these tags:
      <% end %>
      <%= text_field_tag 'tags', @tags_string %>
      <%= render 'popular_tags' %>
      <%= render 'tagsjs', :tag_field_id => "tags" %>
    </div>

    <%= submit_tag 'Apply filters' %>
  <% end %>

</div>

<script type="text/javascript">
  $(function() {

    function ajaxError(a, b, c) {
      alert('There was an error applying your filters. Please try again.');
    }

    function showSpinner() {
      $('#filters img.loading-spinner').show()
    }

    function hideSpinner() {
      $('#filters img.loading-spinner').hide()
    }

    $('#filters').ajaxStart(showSpinner);
    $('#filters').ajaxStop(hideSpinner);
    // note: we process errors manually for the change events,
    // and ignore autocomplete errors.

    function updateSummaryText(data) {
      var text = data.length.toString();

      if ( $("input#future_true").is(':checked') ) {
        text += " future";
      } else {
        text += " open";
      }
      text += " issue";
      if (data.length !=1){
        text += "s";
      }
      $("#home-cta span.no-and-type-of-reports").html(text);
    }

    function filtersChanged() {

      // need to get new list of reports and update the map
      var url = '<%= reports_url %>' + '?' + $('#filters form').serialize();

      // update the map.
      $.ajax( {
        url: url,
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
          SmartJourney.feedMap.updateReports(data);
          updateSummaryText(data);
        },
        error: ajaxError
      });

      // update the reports feed too.
      $.ajax( {
        url: url,
        dataType: 'script', // will be interpreted as js (calls index.js.erb)
        error: ajaxError
      });

      // update the time
      $.ajax( {
        url: '<%= server_localtime_url %>',
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
          $("#home-cta .time").html(data.time);
          $("#home-cta .date").html(data.date);
        }
        // don't worry about errors for this.
      });

    }

    var tagField = $('#tags');

    // force initial status on page load.
    // This gets round back-button issues with form out of sync
    $('#filters input[type="checkbox"]').attr("checked", false);
    $('#filters input#future_false').attr("checked", true);
    tagField.val("");
    var tags = swirrl.queryString.getParameterByName('tags');
    var future = swirrl.queryString.getParameterByName('future');
    if (tags) {
      tagField.val(tags);
    }
    if (future) {
      $('#filters input#future_true').attr("checked", true);
    }

    // hide the submit btn
    $('#filters input[type="submit"]').hide();
    $('#filters input[type="checkbox"], #filters input[type="radio"]').change(function() {
      filtersChanged();
    });

    tagField.tagit();
    // set up events for adding /removing tags.
    tagField.tagit({
      afterTagAdded: function(event, ui) {
        filtersChanged();
      },
      afterTagRemoved: function(event, ui) {
        filtersChanged();
      }
    });


  });
</script>