<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>
<% end %>

<div class="clearfix">
  <div class="description two-thirds column alpha">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4  %>
  </div>

  <div class="tags one-third column omega">
    <%= form.label :tags, 'Tags (comma separated)' %>
    <%= form.text_area :tags_string, rows: 4   %>
  </div>
</div>

<% if can? :create, :planned_incident %>
  <%= render 'begin_end_picker', form: form %>
<% end %>


<div class="clearfix">
  <div class="location">

    <h4>Click to drop a pin at the location of the incident</h4>

    <div id="report-map"></div>

    <div id="latlong">
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>

      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>

  </div>
</div>


<script type="text/javascript">
  // runs on doc rdy.
  $(function() {
    $('#latlong').hide();

    var map = L.map('report-map').setView([57.15, -2.1], 10);

    var tileUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    attrib = 'Map tiles: <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.';

    var tileLayer = new L.TileLayer(tileUrl, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
    tileLayer.addTo(map);

    var marker;

    <% if @report.latitude && @report.latitude && !@report.errors[:location].present? %>
    <% # plot on map if in the report object, e.g. after invalid attempt %>
      marker = L.marker([<%= @report.latitude %>, <%= @report.longitude %>]);
      marker.addTo(map);
    <% end %>

    function onMapClick(e) {
      if (marker) {
        marker.setLatLng(e.latlng);
        marker.update();
      }
      else {
        marker = L.marker(e.latlng);
        marker.addTo(map);
      }

      $("input#report_latitude").val(e.latlng.lat);
      $("input#report_longitude").val(e.latlng.lng);
    }

    map.on('click', onMapClick);

  });
</script>

<% unless current_user %>
  <strong>Note:</strong> You might want to <%= link_to "Sign in / up", new_user_session_path %> before reporting, so you can manage your reports later.
  <br/><br/>
<% end %>

<%= form.submit %>