<% content_for :intro do %>
  <h2>Share &amp; discover local weather &amp; travel reports</h2>
  <p class="lead">We combine official and crowd-sourced info from across Aberdeen & Aberdeenshire.</p>
<% end %>

<div id="home-cta">
  <div class="reportbtn">
    <%= link_to "Report A New Issue!", new_report_path, class:"report"%>
  </div>
  <div>
    <p>
      Get more details about existing reports by selecting pins/clusters on the map or by browsing the recent reports.
    </p>
  </div>
</div>

<nav class="tabbed">
  <ul class="tabs" style="display:none">
    <li class="tab"><a id="default_tab" href="#map"><%= image_tag 'map-icon.png' %>Map</a></li>
    <li class="tab"><a href="#reports"><%= image_tag 'report-icon.png' %>Recent Reports</a></li>
  </ul>
</nav>

<%= render 'feed_map' %>
<%= render 'feed_list', :reports => @reports.last(20) %>

<%= render 'filters' %>