<% content_for :intro do %>
  <h2><strong style="color:#333">Realtime</strong> travel &amp; weather</h2>
  <p class="lead">for Aberdeen and Aberdeenshire</p>
<% end %>

<% content_for :api_info do %>
  Get these reports as <%= link_to "JSON", reports_url(params.merge(:format => :json)), :id => 'reports-json' %>. Read the <%= link_to "Full API Docs", "http://data.smartjourney.co.uk/docs" %>.
<% end %>

<%= content_for :home_cta do %>
  <div id="home-cta">

    <div class="words">

      <div class="date-time">
        <span class="time"><%= Time.now.localtime.strftime("%H:%M") %></span><br/>
        <span class="date"><%= Time.now.localtime.strftime("%d %b") %></span>
      </div>

      <div class="summary">
        Showing <span class="no-and-type-of-reports"><%= pluralize @reports.length, "#{@future ? 'future' : 'open'} issue" %></span> <br/>
        <a href="#filters">change filters</a>
      </div>

      <div style="height:0; clear:both"></div>

    </div>

    <div class="reportbtn" style="float:right">
      <%= link_to "Report a problem", new_report_path, class:"report"%>
    </div>

    <%if current_user %>
      <div class="alertbtn" style="float:right">
        <%= link_to "Manage email alerts", edit_user_registration_path, class:"get-alerts" %>
      </div>
    <% else %>
      <div class="alertbtn" style="float:right">
        <%= link_to "Sign up for email alerts", new_user_registration_path, class:"get-alerts"%>
      </div>
    <% end %>

    <div style="height:0; clear:both"></div>
  </div>
<% end %>

<nav class="tabbed">
  <ul class="tabs" style="display:none">
    <li class="tab"><a id="default_tab" href="#map"><%= image_tag 'map-icon.png' %>Map</a></li>
    <li class="tab"><a href="#reports"><%= image_tag 'report-icon.png' %>List</a></li>
  </ul>
</nav>

<%= render 'feed_map' %>
<%= render 'feed_list', :reports => @reports.first(20) %>
<%= render 'filters' %>

<script type="text/javascript">
  $(function() {
    $("#home-cta a.report, .reportbtn a.report").click(function(e) {
      e.preventDefault();
      var map = SmartJourney.feedMap.map;
      var zoom = map.getZoom();
      var center = map.getCenter();
      window.location.href = '<%= new_report_url %>' + '?lat=' + center.lat.toString() + '&lng=' + center.lng.toString() + '&zoom=' + zoom.toString();
    });
  });
</script>