<% content_for :intro do %>
  <h2>Welcome to Smart Journey</h2>
  <p class="lead">Share and discover weather and travel info in Aberdeen and Aberdeenshire</p>
<% end %>

<nav class="tabbed">
  <ul class="tabs" style="display:none">
    <li class="tab"><a id="default_tab" href="#map"><%= image_tag 'map-icon.png' %>Map</a></li>
    <li class="tab"><a href="#reports"><%= image_tag 'report-icon.png' %>Recent Reports</a></li>
  </ul>
</nav>

<%= render 'feed_map' %>
<%= render 'feed_list', :reports => @reports.last(20) %>

<%= render 'filters' %>