<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>
<% end %>

<h1>Report</h1>

<%= form_for(@report) do |form| %>

  <% #uses dynamic_form gem (for now) %>
  <%= error_messages_for(@report) %>

  <h4>Status</h4>
  <%= @report.status %>

  <h4>reported by</h4>
  <% if @report.creator %>
    <%= @report.creator.screen_name %>
    <% if current_user && @report.creator && @report.creator.screen_name == current_user.screen_name %>
      (this is you!)
    <% elsif !current_user %>
      (Is this you? Log in to edit this report)
    <% end %>
  <% else %>
    (Anonymously reported)
  <% end %>

  <br/>

  <h4>Reported</h4>
  <%= Time.parse(@report.created_at).to_s(:long) %>

  <% if can?(:update, :planned_incident) && @report.still_open? %>
     <br/><br/>
     <%= render 'begin_end_picker', form: form %>
  <% else %>
    <h4>Begins</h4>
    <%= Time.parse(@report.incident_begins_at).to_s(:long) %></br>

    <% if @report.incident_ends_at %>
      <h4>Ends</h4>
      <%= Time.parse(@report.incident_ends_at).to_s(:long) %></br>
    <% end %>
  <% end %>

  <% if can_update_report? %>
    <br/>
    <%= form.label 'description' %>
    <%= form.text_area :description, rows: 4 %><br/>
  <% else %>
    <h4>description</h4>
    <%= @report.description %><br/>
  <% end %>

  <% if can_update_report? %>
    <%= form.label 'tags (comma separated)' %>
    <%= form.text_field :tags_string  %><br/>
  <% else %>
    <h4>tags</h4>
    <%= @report.tags_string %><br/>
  <% end %>

  <% if @report.tags.any? %>
    <%= link_to "see open reports with these tags", reports_path(:tags => @report.tags_string) %>
    <br/>
  <% end %>
  <br/>

  <% if can_update_report? %>
    <h4>location (click to move pin)</h4>
  <% else %>
    <h4>location</h4>
  <% end %>

  <% if can_update_report? %>
    <div id="latlong" >
      <%= form.label 'latitude' %>
      <%= form.text_field :latitude %>

      <%= form.label 'longitude' %>
      <%= form.text_field :longitude %>
    </div>
  <% end %>

  <div id="report-map" style="height:300px; width:300px; margin-bottom:20px">
  </div>

  <% if can_update_report? %>
    <%= form.submit "Update report details" %>
  <% end %>

<% end %>

<% if can_update_report? %>
  <%= form_tag(close_report_path, :method => :put ) do%>
    <%= submit_tag "Mark report as closed", :confirm => "Are you sure? Warning: Once a report has been closed it can no longer be edited." %>
  <% end %>
<% end %>

<%= link_to "Back to reports list", reports_path %>

<script type="text/javascript">
  // runs on doc rdy.
  $(function() {
   $('#latlong').hide();

    var map = L.map('report-map').setView([<%= @report.latitude %>, <%= @report.longitude %>], 13);

    var tileUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    attrib = 'Map tiles: <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.';

    var tileLayer = new L.TileLayer(tileUrl, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
    tileLayer.addTo(map);

    var marker = L.marker([<%= @report.latitude %>, <%= @report.longitude %>]);
    marker.addTo(map);

    <% if can_update_report? %>

      function onMapClick(e) {
        marker.setLatLng(e.latlng);
        marker.update();

        $("input#report_latitude").val(e.latlng.lat);
        $("input#report_longitude").val(e.latlng.lng);
      }

      map.on('click', onMapClick);
    <% end %>
  });
</script>
