<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>
<% end %>

<% content_for :intro do %>
  <div class='text'>
    <h2>Report details</h2>
    <p class="lead">Status: <%= @report.status %> <%= report_status_icon(@report.status) %></p>
  </div>
  <%= intro_marker(@report.tags) %>
<% end %>

<% content_for :api_info do %>
  You can get this report as <%= link_to "JSON", report_url(@report, params.merge(:format => :json)), :id => 'reports-json' %>. <%= link_to "More details", "http://data.smartjourney.co.uk/docs#rest-overview" %>.
<% end %>

<%= form_for(@report) do |form| %>

  <%= error_messages_for(@report) %>

  <div class="row">
    Reported
    <strong><%= Time.parse(@report.created_at).to_s(:long) %></strong>
    <% if @report.creator %>
      <% if current_user && @report.creator && @report.creator.screen_name == current_user.screen_name %>
        by <strong>You</strong>
      <% else %>
        by <strong><%= @report.creator.screen_name %></strong>
      <% end %>
      <% unless current_user %>
        (Is this you? Log in to edit this report)
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="description two-thirds column alpha">
      <% if can_update_report? %>
        <%= form.label 'description' %>
        <%= form.text_area :description, rows: 4, :readonly => !can_update_report? %><br/>
      <% else %>
        <h3 style="margin-top:0">Description</h3>
        <p>
          <%= auto_link @report.description %>
        </p>
      <% end %>
    </div>

    <div class="tags one-third column omega <%='readonly' unless can_update_report? %>">
      <%= image_tag "icon-tag.png" %> <%= form.label :tags, 'Tags', :style => 'display:inline' %>
      <% if @report.tags.any? %>
        <%= link_to "view open reports with these tags", reports_path(:tags => @report.tags_string), :style=>"font-size:12px" %>
      <% end %>
      <%= form.text_field :tags_string %>
      <%= render 'popular_tags' if can_update_report? %>
      <%= render 'tagsjs', :tag_field_id => "report_tags_string", :read_only => !can_update_report? %>
    </div>
  </div>

  <% if can?(:update, :planned_incident) && @report.still_open? %>
     <%= render 'reports/begin_end_picker', form: form %>
  <% else %>
    <div class="row">
      <h3>Start Time</h3>
      <%= Time.parse(@report.incident_begins_at).to_s(:long) %>

      <% if @report.incident_ends_at %>
        <br/><br/>
        <h3>End Time</h3>
        <%= Time.parse(@report.incident_ends_at).to_s(:long) %>
      <% end %>
    </div>
  <% end %>


  <div class="row">
    <div class="location">

      <% if can_update_report? %>
        <h3>location (click to move pin)</h3>
      <% else %>
        <h3>location</h3>
      <% end %>

      <% if can_update_report? %>
        <div id="latlong" >
          <%= form.label 'latitude' %>
          <%= form.text_field :latitude %>

          <%= form.label 'longitude' %>
          <%= form.text_field :longitude %>
        </div>
      <% end %>

      <div id="report-map"></div>
    </div>
  </div>

  <% if can_update_report? %>
    <%= form.submit "Update report details", :style=>"float:left" %>
  <% end %>

<% end %>

<% if can_update_report? %>
  <%= form_tag(close_report_path(@report), :method => :put ) do%>
    <%= submit_tag "Mark report as closed", :confirm => "Are you sure? Warning: Once a report has been closed it can no longer be edited.", :id=> 'close-report' %>
  <% end %>
<% end %>


<div class="row" style="clear:both; margin-left:0; padding-top:20px;">
  <div class="comments">
    <h3>Comments</h3>
      <% if can? :create, Comment %>
      <%= form_tag report_comments_path(@report) do %>
        <%= error_messages_for(@comment) %>
        <%= text_area_tag :content, "" %>
        <%= (submit_tag "Comment And Close", :class => "comment-and-close") if can?(:update, @report) %>
        <%= submit_tag "Comment", :class => "comment" %>
      <% end %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %> to comment on reports.
    <% end %>
    <ul class="comments-list">
      <% @comments.each do |c| %>
        <li>
          <p><%= c.content %></p>
          <span><strong><%= c.creator.screen_name %><%= ' (admin)' if c.creator.role? 'super_user' %></strong>, <%= Time.parse(c.created_at.to_s).to_s(:long) %>
            <br/><%= (link_to "delete comment", report_comment_path(@report, c), :method => 'delete', :confirm => 'are you sure you want to delete this comment?' ) if can? :destroy, c %></span>
        </li>
      <% end %>
    </ul>

  </div>
</div>


<script type="text/javascript">
  // runs on doc rdy.
  $(function() {
   $('#latlong').hide();

    var map = L.map('report-map').setView([<%= @report.latitude %>, <%= @report.longitude %>], 13);

    var tileUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    attrib = 'Map tiles: <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.';

    var tileLayer = new L.TileLayer(tileUrl, {maxZoom: 18, minZoom: 8, attribution: attrib, subdomains: subDomains});
    tileLayer.addTo(map);

    var marker = L.marker([<%= @report.latitude %>, <%= @report.longitude %>]);
    marker.addTo(map);

    <% if can_update_report? %>

      function onMapClick(e) {
        marker.setLatLng(e.latlng);
        marker.update();

        $("input#report_latitude").val(e.latlng.lat);
        $("input#report_longitude").val(e.latlng.lng);
      }

      map.on('click', onMapClick);
    <% end %>
  });
</script>
