<% content_for :javascripts do %>
  <%= render 'shared/leaflet_js' %>
<% end %>

<% content_for :stylesheets do %>
  <%= render 'shared/leaflet_css' %>
<% end %>

<% content_for :intro do %>
  <h2>Report details</h2>
  <p class="lead">Details submitted for this report</p>
<% end %>

<%= form_for(@report) do |form| %>

  <% #uses dynamic_form gem (for now) %>
  <%= error_messages_for(@report) %>

  <div class="row">
    <strong>Status</strong>: <%= @report.status %> <%= report_status_icon(@report.status) %>
  </div>

  <div class="row">
    Reported
    <% if @report.creator %>
      <% if current_user && @report.creator && @report.creator.screen_name == current_user.screen_name %>
        by <strong>You</strong>
      <% elsif !current_user %>
        by <strong><%= @report.creator.screen_name %></strong>
        (Is this you? Log in to edit this report)
      <% end %>
    <% end %>
    - <strong><%= Time.parse(@report.created_at).to_s(:long) %></strong>
  </div>

  <div class="row">
    <div class="description two-thirds column alpha">
      <%= form.label 'description' %>
      <%= form.text_area :description, rows: 4, :disabled => !can_update_report? %><br/>
    </div>

    <div class="tags one-third column omega">
      <%= form.label "tags #{'comma separated' if can_update_report?}" %>
      <%= form.text_area :tags_string, rows: 4, :disabled => !can_update_report? %>

      <% if @report.tags.any? %>
        <%= image_tag "icon-tag.png" %> <%= link_to "see open reports with these tags", reports_path(:tags => @report.tags_string) %>
      <% end %>
    </div>
  </div>

  <% if can?(:update, :planned_incident) && @report.still_open? %>
     <%= render 'begin_end_picker', form: form %>
  <% else %>
    <div class="row">
      <h3>Start Time</h3>
      <%= Time.parse(@report.incident_begins_at).to_s(:long) %>

      <% if @report.incident_ends_at %>
        <br/><br/>
        <h3>End Time</h3>
        <%= Time.parse(@report.incident_ends_at).to_s(:long) %>
      <% end %>
    </div>
  <% end %>


  <div class="row">
    <div class="location">

      <% if can_update_report? %>
        <h3>location (click to move pin)</h3>
      <% else %>
        <h3>location</h3>
      <% end %>

      <% if can_update_report? %>
        <div id="latlong" >
          <%= form.label 'latitude' %>
          <%= form.text_field :latitude %>

          <%= form.label 'longitude' %>
          <%= form.text_field :longitude %>
        </div>
      <% end %>

      <div id="report-map"></div>
    </div>
  </div>

  <% if can_update_report? %>
    <%= form.submit "Update report details" %>
  <% end %>

<% end %>

<% if can_update_report? %>
  <%= form_tag(close_report_path, :method => :put ) do%>
    <%= submit_tag "Mark report as closed", :confirm => "Are you sure? Warning: Once a report has been closed it can no longer be edited." %>
  <% end %>
<% end %>

<script type="text/javascript">
  // runs on doc rdy.
  $(function() {
   $('#latlong').hide();

    var map = L.map('report-map').setView([<%= @report.latitude %>, <%= @report.longitude %>], 13);

    var tileUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    attrib = 'Map tiles: <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.';

    var tileLayer = new L.TileLayer(tileUrl, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
    tileLayer.addTo(map);

    var marker = L.marker([<%= @report.latitude %>, <%= @report.longitude %>]);
    marker.addTo(map);

    <% if can_update_report? %>

      function onMapClick(e) {
        marker.setLatLng(e.latlng);
        marker.update();

        $("input#report_latitude").val(e.latlng.lat);
        $("input#report_longitude").val(e.latlng.lng);
      }

      map.on('click', onMapClick);
    <% end %>
  });
</script>
