<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Smart Journey | Share & discover travel reports for Aberdeen &amp; Aberdeenshire</title>

    <!-- styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :stylesheets %>

    <!-- scripts -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- get jquery from cdn -->
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>

    <!-- favicons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="out-of-spec">
      <strong>Sorry, your browser is not supported</strong>: some features of this site may not function correctly. Please upgrade to at least Internet Explorer 8 or a recent version of Chrome/Safari/Firefox.
    </div>

    <noscript>
      <div id="no-js">
        <strong>Please enable JavaScript</strong>. To function correctly, this site requires JavaScript to be enabled in your browser.
      </div>
    </noscript>

    <div class="container">
      <%= render 'shared/header' %>

      <% if content_for? :intro %>
        <%= render 'shared/intro' %>
      <% end %>

      <% if content_for? :home_cta %>
        <%= yield :home_cta %>
      <% end %>

      <% if notice %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>

      <div class="main <%= yield :main_classes %>">
        <%= yield %>
      </div>

      <% if content_for? :extras %>
        <%= yield :extras %>
      <% end %>

      <% if content_for? :api_info %>
        <div class="api-bar">
          <%= yield :api_info %>
        </div>
      <% end %>

      <%= render 'shared/footer' %>

    </div>

    <!-- end main container -->

    <div class="container" style="background:none">
      <div class="two-thirds column" id="credits">
        &copy; 2012 <a href="http://www.aberdeencity.gov.uk/">Aberdeen City Council</a>, <a href="http://www.aberdeenshire.gov.uk/">Aberdeenshire Council</a>.
        Built by <a href="http://swirrl.com">Swirrl</a>, branding by <a href="http://lighthouse.co">Lighthouse</a>.
      </div>
      <div class="one-third column" id="logos">
        <a href="http://publishmydata.com"><%= image_tag "pmd_powered.png", id: "pmd", alt: 'Powered By PublishMyData' %></a>
        <a href="http://nesta.org.uk"><%= image_tag "nesta-logo.png", alt: 'funded by NESTA' %></a>
      </div>
    </div>
    <%= render 'publish_my_data/shared/google_analytics' %>
  </body>
</html>